<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Log Event Level default =2 [0 = Verbose, 1 = Debug, 2 = Info]-->
		<add key="LogEventLevel" value="2" />
		
		<add key="LogTemplate" value="{Timestamp:HH:mm:ss.ff} | {Level:u3} | {Message}{NewLine}{Exception}" />
		
		<!--Run the main application every this many minutes = 1440 (1 day) -->
		<add key="RunApplicationEveryMinutes" value="1440" />
		
		<!--Environment values default = 0  [0 = Prod, 1 = QA, 2 = Dev]-->
		<add key="Environment" value="0" />

		<!--JSON file path that supliments the data which aren't available on the web-->
		<add key="DTConfigStatsJsonFilePath" value="D:\CloudDrive\Bentley Systems, Inc\Water Infrastructure Team - 3 - Product\WaterSight\DigitalTwinConfigurationStatus.json"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>