<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenFlows.Water" publicKeyToken="b4db808388021f6e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.30" newVersion="10.4.0.30" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenFlows" publicKeyToken="b4db808388021f6e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.30" newVersion="10.4.0.30" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
